.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.register-card
{
 width: 200px;
  display: flex;
  padding-left: 400px;
  flex-wrap: wrap;
  justify-content: center;
}
.imageupload
{
  display:flex; flex-direction:row;
}

.login-card
{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.forget-card
{
  align-items: center;
  display: flex;
  flex-direction: column;

}

.app-bar
{
 display: flex;
 background-color: #202124;
 align-items: center;
  padding-left: 20px;
  height: 60px;
}
.keep
{
  padding-left: 10px;
  height: px;
  padding-right: 80px;
}
.search
{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  width: 650px;
  border-radius: 10px;
  background-color: #333 ;
}
.refresh
{
  padding-left: 45px;
}
.label-name
{
padding-right: 90px;
}
.dialog-label
{
display: flex;
align-items: center;  
}
.note-create
{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.dashboard-body
{
  /* display: flex;
  flex-wrap:wrap; */

  background-color: #202124;
}
.notecard
{
  width: 500px;
  height: 48px;
  border-radius: 5px;
}
.close-button
{
  display: flex;
  float: right;
}
.note-take
{
  width: 200px;
}
.note-display
{
  flex-direction: row;
  flex-wrap:wrap; 
  padding-left: 200px;
  margin:0 10px 10px 60px;
  width: 250px;
}
.note-design
{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #202124;

  padding-left: 250px;
  padding-top: 50px;
}
.edit-label-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3% 0% 3% 0%;
}
.labelsinnote
{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #333 ;

}
.color-map {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.color-styles {
  width: 160px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pin-notes{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  background-color: #202124;

  padding-left: 250px;
  padding-top: 50px;
}
.list-view{
  margin: 20px;
  width: 500px;
  height: auto;
  margin-left:80px; 
}
.display-card {
margin: 10px;
width: 300px;
height: auto;
}
.side-items{
  height: 50px;
}
.labelsinnotes
{
  display: flex;
}